.navbar-fixed {
    position: fixed;
    width: 100%;
    /* top: 0; */
    left: 0;
    right: 0;
    z-index: 1000; /* Adjust the z-index as needed */
    background-color: #fff; /* Change the background color as needed */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow if desired */
    /* Add any other styles you want for the fixed navbar */
  }