/* Banner.css */

.banner-container {
    position: relative;
}

.banner-image {
    width: 100%; /* Ensure the image takes up the full width of its container */
}

.text-overlay {
    position: absolute;
    top: 50%; /* Position the text in the vertical center */
    left: 50%; /* Position the text in the horizontal center */
    transform: translate(-50%, -50%); /* Center the text */
    background-color: transparent; /* Add a semi-transparent background */
    padding: 10px; /* Add padding for better readability */
    border-radius: 5px; /* Optional: Add rounded corners to the text box */
}


.overlay-text {
    text-align: center;
    font-size: 24px;
}

.text-5xl {
    font-size: 36px;
}

/* Styles for tablet screens */
@media (max-width: 768px) {
    .overlay-text {
        font-size: 20px;
    
    }
    .text-5xl{
        color: black;
    }

    .text-5xl {
        font-size: 28px;
    }
}

/* Styles for mobile screens */
@media (max-width: 480px) {
    .overlay-text {
        font-size: 18px;
    }

    .text-5xl {
        font-size: 24px;
    }
}